# .gitignore
assignment2/problem1/node_modules/
assignment2/problem2/node_modules/
assignment3/problem1meangames/node_modules/
assignment3/problem2/node_modules/
assignment4/problem3meangame/node_modules/
assignment5/problem1/node_modules/
assignment5/problem2/node_modules/
assignment5/problem3meangame/node_modules/
assignment5/problem4meangamewithpublisher/node_modules/
assignment5/problem6/node_modules/
assignment5/problem5meangamewithpublisherandreviews/node_modules/
php/node_modules/
assignment8/problem1meangames/node_modules/
assignment8/problem2php/node_modules/
assignment10/node_modules/
secondweekendphp/node_modules/
week3day2assignment/problem4-angular-app/node_modules/