body{
    margin: 0; padding: 0; font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; padding: 0;
}
header, footer{
    padding: 2%; background-color: lightblue; text-align: center;
}
section{
    padding: 1%;
}
section ul li{
    margin: 1%;
}